﻿
@{
    ViewBag.Title = "Index";
}

<form method="post" action="@Url.Action("Index")">
    身高 <input type="text" name="height" value="" />公分 <br />
    體重 <input type="text" name="weight" value="" />公斤 <br />
    <input type="submit" value="送出" />
</form>
<br />
計算結果： @ViewBag.BMI <br />
等級： @ViewBag.level
